<%= form_for([@team.season, @team]) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :season_id %><br />
    <%= f.select "season_id", Season.all.collect {|s| [s.name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :pool_id %><br />
    <%= f.select "pool_id", Pool.all.collect {|p| [p.name, p.id]}, { :include_blank => true } %>
  </div>
  <% if params[:action] != 'new' %>
  <div class="field">
    <%= f.label "Upload new photo" %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label "Photo caption" %><br />
    <%= f.text_area :photo_caption, {:rows => 3, :cols => 100} %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "Active" %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
