<h1>Teams
<% if @season %>
for <%= @season.name -%>
<% end %></h1>

<%= render :partial => 'common/season_select' %>

<% if @logged_in and @logged_in.website %>
<table class="bordered">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Season</th>
    <th>Pool</th>
    <th>Calendar</th>
    <th></th>
    <% if @logged_in and @logged_in.website %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% for team in @teams %>
  <tr>
    <td><%=h team.name %></td>
    <td><%=h team.color %></td>
    <td><%=h team.season.name %></td>
    <td><%=h team.pool.respond_to?('name') ? team.pool.name : nil %></td>
    <td><%= link_to("iCal", team_games_path(team, :format => :ics)) %></td>
    <td>
      <%= link_to 'Players', team_players_path(team.id) %>
    </td>
    <td>
      <%= link_to 'Photo', photo_path(team) %>
    </td>
    <% if @logged_in and @logged_in.website %>
    <td>
      <%= link_to 'Show', [team.season, team] -%>
    </td>
    <td>
      <%= link_to 'Edit', edit_season_team_path(team.season, team) -%>
    </td>
    <td><%= link_to 'Destroy', [team.season, team], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% else %>

<table border="0" width="80%">
<tr valign='top'>
  <% i = 0 %>
  <% size = @teams.size == 6 ? 33 : 25 %>
  <% for team in @teams %>
    <td width="<%= size %>%">
    <table class="bordered" width="100%">
    <tr>
      <th><%=h team.display %></th>
    </tr>
    <% for player in team.players %>
      <tr>
        <td>
          <% if player.position and !player.position.empty?%>
            <i><%= player.position.downcase %></i>
          <% end %>
          <%= player.manager ? raw("<strong>"): "" %> 
          <%=h player.name %>
          <%= player.manager ? raw("</strong>") : "" %> 
        </td>
      </tr> 
    <% end %>
    <% if team.photos.size > 0 %>
      <tr><td><%= link_to "Team photo", photo_path(team) %></td></tr>
    <% end %>
    <tr><td><%= link_to("Google calendar import", "https://www.google.com/calendar/render?cid=http://#{request.host}#{team_games_path(team, :format => :ics)}") %></td></tr>
    <tr><td><%= link_to("ICS calendar download", team_games_path(team, :format => :ics)) %></td></tr>
  </table>
  </td>
  <% i = i + 1 %>
  <% if i == @teams.size / 2 %>
  </tr><tr valign='top'>
  <% end %>
  <% end %>
</tr>
</table>

<% end %>

<% if @season %>
<% if @logged_in and @logged_in.website %>
<%= link_to 'New team', :controller => :teams, :season_id => @season.id, :action => :new %> |
<% end %>
<%= link_to 'Back', :controller => :seasons %>
<% end %>
