<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Color:</b>
  <%= @team.color %>
</p>

<p>
  <b>Season:</b>
  <%= @team.season.name %>
</p>

<p>
  <b>Pool:</b>
  <%= @pool_name %>
</p>

<p>
  <b>Active:</b>
  <%= @team.active %>
</p>

<p>
  <b>Photo:</b>
  <br /><%= image_tag "/images/#{@team.file_name}", {:id => 'team_image'} %>
</p>

<p>
  <b>Photo caption:</b>
  <%= @team.photo_caption %>
</p>


<%= link_to 'Edit', edit_season_team_path(@team.season_id, @team) %> |
<%= link_to 'Back', season_teams_path(@team.season_id) %>
