<h1>Seasons</h1>

<table class="bordered">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>Current</th>
    <th></th>
    <th></th>
    <th></th>
    <% if @logged_in %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% for season in @seasons %>
  <tr>
    <td><%=h season.name %></td>
    <td><%=h season.start_date %></td>
    <td><%=h season.current ? 'yes' : 'no' %></td>
    <td><%= link_to 'Teams', season_teams_path(season.id) %>
    <td><%= link_to 'Games', season_games_path(season.id) %>
    <td><%= link_to 'Standings', season_standings_path(season.id) %>
    <% if @logged_in %>
    <td><%= link_to 'Show', season %></td>
    <td><%= link_to 'Edit', edit_season_path(season) %></td>
    <td><%= link_to 'Destroy', season, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @logged_in %>
<%= link_to 'New season', new_season_path %>
<% end %>
