<ul class="nostyle">
<li><%= link_to "Upcoming games", next_games_path %></li>
<% unless @season.nil? %>
<li><%= link_to "All games", season_games_path(season_id: @season.id) %>
<% end %>
<li><%= link_to "Business directory", commercial_listings_path %></li>
<li><%= link_to "Rules", rules_path %></li>
<li><%= link_to "Constitution (pdf)", "/assets/BASL_Constitution_as_amended_feb2009.pdf" %></li>
<li><%= link_to "Discipline procedures (pdf)", "/assets/DisciplineProcedures_vSep2012.pdf" %></li>
<li><%= link_to "Law 4 (pdf)", "/assets/Law_4_Memo_Ontario.pdf" %></li>
<li><%= link_to "Law 11 (pdf)", "/assets/Law_11___OFFSIDE-inserts.pdf" %></li>
<li><%= link_to "CSA lightning policy (pdf)", "/assets/CSA%20-LIGHTNING%20Policy%20July%2016%202008.pdf" %></li>
<li><%= link_to "CSA casts policy (pdf)", "/assets/CSA%20-%20Players%20wearing%20Casts%20Policy%20July16%202008.pdf" %></li>
<li><%= link_to "BA summer general meeting minutes 2017 (pdf)", "/assets/ba_summer_gen_meeting_minutes_2017.pdf" %></li>
<li><%= link_to "GSA Web Site", "http://www.gloucesterhornets.ca/" %></li>
<li><%= link_to "Blackburn Arms Pub", "http://www.blackburnarms.com/" %></li>
<li><%= link_to "Contact Us", "mailto:info@ba-soccer.ca" %></li>
<li><%= link_to "Admin", admin_path %></li>
</ul>
