<% if @logged_in %>
<%= link_to_unless @logged_in.nil?, 'New news_byte', new_news_byte_path %>
<% end %>

<table border="0" cellspacing="0" cellpadding="5">
<% for @news_byte in @news_bytes %>
<%= render 'news_byte' %>
<% end %>
<% if @offset > 0 %>
<tr id="more_news_<%= @offset %>">
<td><%= link_to "More", news_page_path(@limit,@offset), :remote => true %></td>
</tr>
<% end %>
</table>

<br />

<% if @logged_in %>
<%= link_to_unless @logged_in.nil?, 'New news_byte', new_news_byte_path %>
<% end %>
