<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_byte.title %>
</p>

<p>
  <b>Body:</b>
  <%= raw RedCloth.new( @news_byte.body ).to_html %>
</p>


<%= link_to 'Edit', edit_news_byte_path(@news_byte) %> |
<%= link_to 'Back', news_bytes_path %>
