<h1>Users</h1>

<table class="bordered">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Website</th>
    <th>Active</th>
    <th>Votes</th>
    <% if @logged_in and @logged_in.admin %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%= user.admin ? "yes" : "" %></td>
    <td><%= user.website ? "yes" : "" %></td>
    <td><%= user.active ? "yes" : "" %></td>
    <td align="right"><%=h user.votes %></td>
    <% if @logged_in and @logged_in.admin %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @logged_in and @logged_in.admin %>
<%= link_to 'New user', new_user_path %>
<% end %>
