<%= form_with(model: registration, local: true) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :registration_name %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, id: :registration_description, :cols => 100, :rows => 20  %>
  </div>

  <div class="field">
    <%= form.label :active %><br>
    <%= form.check_box :active, id: :registration_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
