  <td><%=h display_game.id %></td>
  <td><%=h display_game.game_time %></td>
  <td>
    <div class="rel"><%=h link_to_unless display_game.field_id.blank?, display_game.field.name, field_path(display_game.field_id), :class => "bubble" %>
      <div class="mybubble" style="width:200px">
      <strong>Field</strong>
      <br /><br /><%=h display_game.field.location %>
      <br /><%= link_to "View map", display_game.field.map_url %>
      <br /><br /><%= link_to_unless display_game.field_id.blank?, "Field info.", field_path(display_game.field_id) %>
      | <%= link_to("close", "#", :class => 'hide') %>
      </div>
    </div>
  </td>
  <td align="right">
    <% if display_game.home_team.respond_to?('name') %>
      <%= render :partial => "team", :locals => {:game => display_game, :host => 'home'} %>
    <% end %>
    </div>
  </td>
  <td align="center"><%=h display_game.home_team_score %> : <%=h display_game.away_team_score %></td>
  <td>
    <% if display_game.away_team.respond_to?('name') %>
      <%= render :partial => "team", :locals => {:game => display_game, :host => 'away'} %>
    <% end %>
  </td>
  <td><%=h display_game.game_type.name %></td>
  <% if @logged_in.update_site? %>
  <td><%= link_to "Edit", edit_season_game_path(display_game.season, display_game), :remote => true %></td>
  <td><%= link_to 'Destroy', [display_game.season, display_game], :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
