<%= form_for(@game, :remote => true, :url => season_games_path(@game.season_id, @game), :html => {:autocomplete => 'off'}) do |f| %>

  <table class="bordered">
  <tr>
    <td><%= f.label :start %></td>
    <td><%= f.datetime_select :time %></td>
  </tr>
  <tr>
    <td><%= f.label :end %></td>
    <td><%= f.datetime_select :until %></td>
  </tr>
  <tr>
    <td><%= f.label :field_id %></td>
    <td><%= f.select("field_id", Field.order(:name).collect {|fd| [fd.name, fd.id]}, {:include_blank => false}) %></td>
  </tr>
  <tr>
    <td><%= f.label :home_team_id %></td>
    <td><%= f.select('home_team_id', @teams.collect {|t| ["#{t.name} (#{t.color})", t.id]}, {:include_blank => true}) %></td>
  </tr>
  <tr>
    <td><%= f.label :home_team_score %></td>
    <td><%= f.text_field :home_team_score, :auto_complete => false %></td>
  </tr>
  <tr>
    <td><%= f.label :away_team_id %></td>
    <td><%= f.select('away_team_id', @teams.collect {|t| ["#{t.name} (#{t.color})", t.id]}, {:include_blank => true}) %></td>
  </tr>
  <tr>
    <td><%= f.label :away_team_score %></td>
    <td><%= f.text_field :away_team_score %></td>
  </tr>
  <tr>
    <td><%= f.label :game_type_id %></td>
    <td><%= f.select("game_type_id", @game_types.collect {|g| [g.name, g.id]}, {:include_blank => false}) %></td>
  </tr>
  <tr>
    <td align="right"><%= f.submit "Create" %></td><td><%= link_to "Cancel", cancel_new_path, :remote => true %></td>
  </tr>
  </table>
<% end %>
