<h1>Games
<% if @season.id %>
for <%= @season.name %>
<% end %>
</h1>

<%= render :partial => 'common/season_select' %>

<div id="games">
  <%= render(:partial => "games", :object => @games) %>
</div>

<br />

<% if @season %>
<div id="new_game"></div>
<% if @logged_in %>
<%= link_to 'New Game', new_season_game_path(@season), :remote => true %> |
<% end %>
<%= link_to 'Back', :controller => :seasons %>
<% end %>

