<h1>Games
<% if @season.id %>
for <%= @season.name %>
<% end %>
</h1>

<table>
<tr>
<td>
<%= render :partial => 'common/season_select' %>
</td>
<td>
<form id="showTeamForm">
<!-- BG include this -->
Show team: <select id="showTeam" name="showTeam">
<option value=".">All teams</option>
</select>
vs: <select id="showVsTeam" name="showVsTeam">
<option value=".">All teams</option>
</select>
<!-- end of BG include -->
</form>
</td>
</tr>
</table>

<div id="games">
  <%= render(:partial => "games", :object => @games) %>
</div>

<br />

<% if @season %>
<div id="new_game"></div>
<% if @logged_in %>
<%= link_to 'New Game', new_season_game_path(@season), :remote => true %> 

<%= form_tag update_game_duration_path(@season) do %>
  Update duration of all games of this season to 
  <%= select_tag :game_duration, options_for_select([['One hour', 1], ['Two hours', 2]]) %>
  <%= submit_tag 'Update' %> 
<% end %>

<% end %>
<%= link_to 'Back', :controller => :seasons %>
<% end %>

