<h1>Next games are <%= distance_of_time_in_words_to_now(@games[0].time) %> from now</h1>

<%= @games[0].time.strftime("%A, %B %d") %>

<table class="bordered">
<tr><th>Time</th><th>Field</th><th>Home team</th><th>vs.</th><th>Away team</th></tr>
<% @games.each do |game| %>
<tr>
<td><%= game.time.strftime("%H:%M") %></td>
<td><%= game.field.code %></td>
<td align="right">
<%= game.home_team.name %> (<%= game.home_team.color %>) 
<br><span class="gray">Manager:</span> <%= game.home_team.manager_name %> 
<br><span class="gray">Keeper:</span> <%= game.home_team.keeper_name %>
<br><span class="gray">Place:</span> <%= game.home_team.season_standing %> 
<span class="gray">Points:</span> <%= game.home_team.season_points %> 
<span class="gray">Goal diff:</span> <%= game.home_team.season_goal_diff %> 
</td>
<td> vs. </td>
<td>
<%= game.away_team.name %> (<%= game.away_team.color %>) 
<br><span class="gray">Manager:</span> <%= game.away_team.manager_name %> 
<br><span class="gray">Keeper:</span> <%= game.away_team.keeper_name %>
<br><span class="gray">Place:</span> <%= game.away_team.season_standing %> 
<span class="gray">Points:</span> <%= game.away_team.season_points %> 
<span class="gray">Goal diff:</span> <%= game.away_team.season_goal_diff %> 
</td>
</tr>
<% end %>
</table>

<br><%= link_to "All games", season_games_path(season_id: @season.id) %>
