<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @game.season.name %>
</p>

<p>
  <b>Time:</b>
  <%= @game.time %>
</p>

<p>
  <b>Field:</b>
  <%= @game.field.name %>
</p>

<p>
  <b>Home team:</b>
  <% unless @game.home_team.blank? %>
  <%= @game.home_team.name %> (<%= @game.home_team.color %>)
  <% end %>
</p>

<p>
  <b>Home team score:</b>
  <%= @game.home_team_score %>
</p>

<p>
  <b>Away team:</b>
  <% unless @game.away_team.blank? %>
  <%= @game.away_team.name %> (<%= @game.away_team.color %>)
  <% end %>
</p>

<p>
  <b>Away team score:</b>
  <%= @game.away_team_score %>
</p>

<p>
  <b>Game type:</b>
  <%= @game.game_type.name %>
</p>


<%= link_to 'Edit', edit_season_game_path(@game.season, @game) %> |
<%= link_to 'Back', season_games_path(@game.season) %>
