<h1>Listing players for <%= @team.display %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <% if @logged_in %>
    <th>Ranking</th>
    <% end %>
    <th>Number</th>
    <th>Manager</th>
    <th>Active</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td<%= raw(' class="manager"') if player.manager -%>><%= player.name %></td>
    <td align="center"><%= player.position %></td>
    <% if @logged_in %>
    <td align="right"><%= number_with_precision(player.current_ranking, :precision => 2) %></td>
    <% end %>
    <td align="right"><%= player.number %></td>
    <td align="center"><%= player.manager %></td>
    <td align="center"><%= player.active %></td>
    <td><%= player.note %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_team_player_path(params[:team_id]) %>
