<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Manager</th>
    <th>Active</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td<%= raw(' class="manager"') if player.manager -%>><%= player.name %></td>
    <td><%= player.team.name %> (<%= player.team.color %>)</td>
    <td><%= player.manager %></td>
    <td><%= player.active %></td>
    <td><%= player.note %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_team_player_path(params[:team_id]) %>
