<h1>Business directory</h1>

<table border="0">
<% @commercial_listings.each do |commercial_listing| %>
  <tr>
    <td>
<table border="0" cellspading="0" width="100%">
  <tr>
    <th colspan="2" align="center" class="news_byte_th"><%= commercial_listing.player_name %></th>
  </tr>
  <tr>
    <td class="left_border" width="50%" valign="top">
      <ul>
        <% unless commercial_listing.company_name.empty? %>
          <li><%= commercial_listing.company_name %></li>
        <% end %>
        <% unless commercial_listing.title.empty? %>
          <li><%= commercial_listing.title %></li>
        <% end %>
        <% unless commercial_listing.business_type.empty? %>
          <li><%= commercial_listing.business_type %></li>
        <% end %>
      </ul>
    </td>
    <td class="right_border" width="50%" valign="top">
      <ul>
        <% unless commercial_listing.telephone.empty? %>
          <li>Telephone: <%= commercial_listing.telephone %></li>
        <% end %>
        <% unless commercial_listing.email.empty? %>
          <li>Email: <%= commercial_listing.email %></li>
        <% end %>
        <% unless commercial_listing.website.empty? %>
          <li>Website: <%= link_to commercial_listing.website, commercial_listing.website %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="sides_and_bottom_border"><%= commercial_listing.description %>
   <br /><br /><%= link_to 'vcard', commercial_listing_path(commercial_listing, :format => :vcard) %>
    </td>
  </tr>
</table>
    </td>
    <% if @logged_in and @logged_in.update_site? %>
    <td><%= link_to 'Show', commercial_listing %></td>
    <td><%= link_to 'Edit', edit_commercial_listing_path(commercial_listing) %></td>
    <td><%= link_to 'Destroy', commercial_listing, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<br />

<% if @logged_in and @logged_in.update_site? %>
<%= link_to_unless @logged_in.nil?, 'New Commercial listing', new_commercial_listing_path %>
<% end %>
