<h1>Rules</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rules.each do |rule| %>
  <tr>
    <td><%= raw RedCloth.new( rule.body ).to_html %></td>
    <% if @logged_in and @logged_in.update_site? %>
    <td><%= link_to 'Show', rule %></td>
    <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
    <td><%= link_to 'Destroy', rule, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @logged_in and @logged_in.update_site? %>
<%= link_to 'New Rule', new_rule_path %>
<% end %>
