<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Code:</b>
  <%= @field.code %>
</p>

<p>
  <b>Map:</b>
  <%= link_to_unless @field.map_url == '', 'View map', @field.map_url %>
</p>

<p>
  <b>Location:</b>
  <%= @field.location %>
</p>

<% if @logged_in %>
<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
<% else %>
<%= link_to 'Back', season_games_path(:season_id => @season.id) %>
<% end %>
