<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Code:</b>
  <%= @field.code %>
</p>

<p>
  <b>Map url:</b>
  <%= @field.map_url %>
</p>


<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
