<!DOCTYPE html>
<html>
<head>
  <title>Basl</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">
<%= image_tag "BA.JPG", :width => "150px", :id => "basoccer_logo" %>

<div id="topmenunot">
<table border="0" cellspacing="0" cellpadding="9" id="topmenu">
<tr>
<td><%= link_to "News", :controller => :news_bytes %></td>
<% unless @season.id.blank? %>
<td><%= link_to "Games", season_games_path(:season_id => @season.id) %></td>
<td><%= link_to "Standings", season_standings_path(:season_id => @season.id) %></td>
<td><%= link_to "Teams", season_teams_path(:season_id => @season.id) %></td>
<% end %>
<td><%= link_to "Seasons", :controller => :seasons %></td>
<td><%= link_to "Fields", fields_path %></td>
<td><%= link_to "Info", administrivia_path %></td>
<td><%= link_to "Admin", admin_path %></td>
</tr>
</table>
</div>

<br />
<div id="main">

<%= yield %>

</div>
</div>

</body>
</html>
